<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola mundo con Vuejs</title>

    <!-- #### BOOTSTRAP CDN ###### -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <div class="container" id="app">

        <h3>Titulo: {{ mensaje }}</h3>

        <!--  -->
        <h3>Titulo invertido: {{ invertido }}</h3>

        <input type="text" class="form-control" v-model="mensaje">
        <!-- Dentro de la funcion click tenemos JS puro -->
        <button class="btn btn-primary" @click="contador++">+</button>
        <button class="btn btn-danger" @click="contador--">-</button>

        <h3>{{ contador }}</h3>

        <!-- Modificamos con vue el style y el class -->
        <div class="progress">
            <div class="progress-bar" 
                 role="progressbar" 
                 :style="{'width': contador + '%'}" 
                 aria-valuenow="25" 
                 aria-valuemin="0" 
                 aria-valuemax="100"
                 :class="color">

                 {{ contador }}

            </div>
        </div>

    </div>


<!-- ###### SCRIPTS - CDN de Vue y nuestro script #################### -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app_computadas.js"></script>
    
</body>
</html>