<template>
  <div id="app" class="container">
    <cabecera></cabecera>
    <Lista></Lista>
  </div>
</template>

<script>
import cabecera from './components/cabecera.vue'
import Lista from './components/Lista.vue'

export default {
  name: 'app',
  components: {
      cabecera,
      Lista
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
