<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola mundo con Vuejs</title>


</head>
<body>

    <div id="app">

        <h1>{{ titulo }}</h1>

        <!-- Generamos una conexion desde el html a Vue con v-model-->
        <input type="text" v-model="nuevoPais" @keyup.enter="agregarPais">
        <button v-on:click="agregarPais">Agregar un pais</button>


        <ul>
            <li v-for="fruta of frutas">{{ fruta }}</li>
        </ul>

        <h3>Nombre de los paises: </h3>
        <ul>
            <li v-for="pais of paises">{{ pais.nombre }}</li>
        </ul>

        <h3>Provincias de los paises: {{ paises[1].nombre }}</h3>
        <ul>
            <li v-for="pais of paises">
                <input type="number" v-model.number="pais.provincias">
                <button @click="pais.provincias++">Añade 1</button>
                <span v-if="pais.provincias === 8"> Pais pequeño</span>
            </li>  
        </ul>

        <h4>TOTAL: {{ sumarFrutas }}</h4>

    </div>


<!-- ###### SCRIPTS #################### -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="01.js"></script>
    
</body>
</html>