<template>
    <div class="container mt-5">
        <h3>Desde el card vue</h3>
        <b-button variant="sccess">Click!</b-button>
        <b-button variant="primary">Click!</b-button>
        <b-button variant="warning">Click!</b-button>
        <b-button variant="info">Click!</b-button>
        <b-button variant="dark">Click!</b-button>

        <b-row class="mt-5">
            <b-col cols="12" md="4">
                <b-card 
                    img-src="https://picsum.photos/600/300/?image=25"
                    img-alt="Imagen"
                    img-top
                    tag="article"
                    style="max-width: 20rem;"
                    class="mb-2">
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <b-button href="#" variant="primary">Vamos!</b-button>
                </b-card>
            </b-col>

            <b-col cols="12" md="4">
                <b-card 
                    img-src="https://picsum.photos/600/300/?image=23"
                    img-alt="Imagen"
                    img-top
                    tag="article"
                    style="max-width: 20rem;"
                    class="mb-2">
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <b-button href="#" variant="primary">Vamos!</b-button>
                </b-card>
            </b-col>

            <b-col cols="12" md="4">
                <b-card 
                    img-src="https://picsum.photos/600/300/?image=22"
                    img-alt="Imagen"
                    img-top
                    tag="article"
                    style="max-width: 20rem;"
                    class="mb-2">
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <b-button href="#" variant="primary">Vamos!</b-button>
                </b-card>
            </b-col>
        </b-row>

    </div>
</template>

<script>
    export default {
        name: 'Cards'
    }
</script>

<style scoped>

</style>