<template>
    <div class="container mt-5">
        <h2>Formulario de contacto</h2>

        <form>
            <b-row>
                <b-col md="6">
                    <b-form-input type="text" v-model="texto" :state="comprobar"></b-form-input>
                    <small>Introduce al menos tres caracteres</small>
                </b-col>
            </b-row>

            <p>texto: {{ texto }}</p>
        </form>
    </div>
</template>

<script>
    export default {
        name: 'Contacto',
        data() {
            return {
                texto: ''
            }
        },
        computed: {
            comprobar() {
                return this.texto.length >= 3 ? true :  false; 
            }
        }
    }
</script>

<style scoped>

</style>