<template>
    <div class="container mt-5">
        <b-row>
            <b-col cols="12" md="6">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo impedit unde officiis! A voluptates, accusantium delectus animi suscipit non neque quae quisquam amet nobis tempore ex culpa quas praesentium repellat!</p>
            </b-col>
            <b-col cols="12" md="6">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo impedit unde officiis! A voluptates, accusantium delectus animi suscipit non neque quae quisquam amet nobis tempore ex culpa quas praesentium repellat!</p>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" md="6">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo impedit unde officiis! A voluptates, accusantium delectus animi suscipit non neque quae quisquam amet nobis tempore ex culpa quas praesentium repellat!</p>
            </b-col>
            <b-col cols="12" md="6">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo impedit unde officiis! A voluptates, accusantium delectus animi suscipit non neque quae quisquam amet nobis tempore ex culpa quas praesentium repellat!</p>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    export default {
        name: 'Grid'
    }
</script>

<style scoped>

</style>