<template>
  <div class="fotografia">
    <!-- A través de un 'helper' de route accedemos a la variable id que definimos en el archivo router.js -->
    <h1>Foto desde componente: {{ $route.params.id }}</h1>
  </div>
</template>

<script>
export default {
    name: 'Foto'
}
</script>
