<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crud con Vuejs</title>

    <!-- #### BOOTSTRAP CDN ###### -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <!-- Class container con un margin-top -->
    <div class="container mt-5" id="app">
        <h3>{{ titulo }}</h3>

        <!-- Conectamos el input con Vue a través del attr v-model 
        Detectamos que al pulsar la tecla enter se ejecute la funcion agregartarea-->
        <input type="text" class="form-control my-3" v-model="nuevaTarea" 
        v-on:keyup.enter="agregarTarea">

        <button class="btn btn-primary" @click="agregarTarea">Agregar elemento</button>

        <div class="mt-3" v-for="(item, index) of tareas">

            <!-- Trabajamos las clases con Vue -->
            <div role="alert" :class="['alert', item.estado ? 'alert-success' : 'alert-danger']">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        {{ index }} - {{ item.nombre }} - {{ item.estado }}
                    </div>
                    <div>
                        <!-- Al presionar OK queremos que cambie el color de la alerta, 
                        le pasamos el index del bucle for -->
                        <button class="btn btn-succes btn-sm" @click="editarTarea(index)">OK</button>
                        <button class="btn btn-danger btn-sm" @click="eliminar(index)">X</button>
                    </div>
                </div>
            </div>
            
        </div><!-- For loop ends -->
        
    </div>


<!-- ###### SCRIPTS - CDN de Vue y nuestro script #################### -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app.js"></script>
    
</body>
</html>