<template>
  <div class="fotos">
    <h1>Galeria de fotos</h1>

    <!-- El router link toma la ruta donde esta alojado, por lo tanto si el :to tiene el valor 1 va a: fotos/1 -->
    <!-- Al :to le estamos diciendo que la ruta tiene como 
    nombre : fotos
    parametro : id (lo pasamos en la ruta y a su vez le asignamos el valor del item) -->
    <router-link :to="{ name: 'fotos', params: {id : item} }" v-for="(item, index) of fotosArreglo" :key="index">
        <button>foto {{ item }}</button>
    </router-link>
    
    <!-- Llamamos al contenido del componente -->
    <Foto />

    <button @click="home">Home</button>
    <button @click="anterior">Anterior</button>
    <button @click="siguiente">Siguiente</button>
  </div>
</template>

<script>
// Estamos llamando desde nuestra vista a un componente externo 
import Foto from '@/components/Fotografia.vue';

export default {
    name: 'Fotos',
    components: {
        Foto
    },
    data() {
        return {
            fotosArreglo: [1,2,3]
        }
    },
    methods: {
        home() {
            this.$router.push('/')
        },
        anterior() {
            this.$router.go(-1)
        },
        siguiente() {
            this.$router.go(1)
        }
    }
}
</script>
