<!-- Link al manual de Vue en Español
https://es-vuejs.github.io/vuejs.org/v2/guide/computed.html
-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola mundo con Vuejs</title>

    <!-- #### BOOTSTRAP CDN ###### -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <div class="container" id="app">

        <h1>{{ saludo }}</h1>

        <button @click="saludo = 'Saludo cambiado'">Cambiar</button>

        <button @click="destruir()">Destruir</button>

    </div>


<!-- ###### SCRIPTS - CDN de Vue y nuestro script #################### -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="app-ciclo.js"></script>
    
</body>
</html>